<% content_for :rightoff do %>
  <ul class="off-canvas-list fa-ul">
    <li><label>Document actions</label></li>
    <li><%= link_to 'Download', @document.attachment.url, class: ''%></li>
    <li><%= link_to 'Delete', @document, class: 'alert', method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
<% end %>
<% content_for :sidebar do %>
  <div class="rows">
    <div class="large-9 columns">
      <%= form_for @document, :html => { :multipart => true } do |f| %>
        <fieldset>
          <legend><i class="fa fa-tags fa-lg"></i> Tags</legend>
          <ul class="tag-list">
          <%= f.collection_check_boxes :tags, Tag.all, :id, :name, checked: @document.tags.pluck(:id) do |b| %>
            <li>
              <span class="round label document_count"><%= Tag.find(b.value).documents.count %></span><%= b.check_box %><%= b.label %>
            </li>
          <% end %>
          </ul>
          <%= f.submit 'Speichern', class: 'button success ' %>
        </fieldset>
      <% end %>
    </div>
    <div class="large-3 columns">
      <%= form_for @tag, :html => { :multipart => true }, :url => { :action => :add_new_tag } do |f| %>
      <fieldset>
        <legend><i class="fa fa-asterisk fa-lg"></i> Create a new tag</legend>
        <% if @tag.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>
            <ul>
            <% @tag.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <div class="tag color-blue">
            <%= f.select :color, nil, {}, class: 'color-select' do %>
              <% Rails.configuration.tag_colors.each do |css_class, name| %>
                <%= content_tag :option, name, value: css_class, data: { colorcssclass: css_class } %>
              <% end %>
            <% end %>
            <%= f.select :icon, nil, {}, { class: 'fa-select' } do %>
              <% Rails.configuration.font_awesome['icons'].each do |icon_name| %>
                <%= content_tag :option, icon_name, value: icon_name, data: { icon: icon_name } %>
              <% end %>
            <% end %>
            <%= f.text_field :name, class: 'left' %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit 'Create a new tag', class: 'button primary' %>
        </div>
        <script type="text/javascript">
        <!--
        $(function() {
          var fontAwesomeFormatFunction = function(icon) {
            var originalOption = icon.element;
            return '<i class="fa fa-lg fa-' + $(originalOption).data('icon') + '"></i> ' + icon.text;
          };

          $('select.fa-select').select2({
            width: '100%',
            formatResult: fontAwesomeFormatFunction,
            formatSelection: fontAwesomeFormatFunction
          });

          var colorFormatFunction = function(icon) {
            var originalOption = icon.element;
            return '<i class="fa color color-' + $(originalOption).data('colorcssclass') + '"></i> ' + icon.text;
          };

          $('select.color-select').select2({
            width: '100%',
            formatResult: colorFormatFunction,
            formatSelection: colorFormatFunction
          });
        });
        -->
        </script>
      </fieldset>
      <% end %>
    </div>
  </div>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <%= image_tag @document.attachment.url(:large), alt: 'Alt Image Text', class: 'document-image' %>
    <!-- <object data="<%= @document.attachment.url %>#toolbar=1&navpanes=1&scrollbar=1&page=1&view=fitH"
        type="application/pdf"
        width="100%"
        height="735px">
      <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <%= link_to 'click here to download the PDF file.', @document.attachment.url %></p>
    </object> -->
  </div>
</div>
