<% content_for :rightoff do %>
  <li class="has-form search">
    <%= form_for @search_document, method: :GET, html: { data: { } } do |f| %>
    <div class="row collapse">
      <div class="large-8 small-9 columns">
        <input type="text" placeholder="Find stuff...">
      </div>
      <div class="large-4 small-3 columns">
        <a href="#" class="button expand"><i class="fa fa-search fa-lg fa-fw"></i>Go</a>
      </div>
    </div>
    <% end %>
  </li>
  <li style="margin-top: 1rem"><label><i class="fa fa-search fa-fw fa-lg"></i>Filter by label</label></li>
  <li class="has_form">
    <%= form_for @search_document, method: :GET, html: { data: { } } do |f| %>
      <ul class="off-canvas-list tags fa-ul">
        <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, checked: @search_param_tag_ids do |b| %>
          <%= b.check_box %>
          <li class="tag"><%= b.label %><span class="round label info document_count"><%= Tag.find(b.value).documents.count %></span></li>
        <% end %>
      </ul>

      <ul class="button-group">
        <li>
          <a href="#" class="button secondary expand clear"><i class="fa fa-remove fa-lg fa-fw"></i>Clear</a>
        </li>
        <li>
          <button type="submit" class="button expand apply" style="margin-bottom: 0">
            <i class="fa fa-filter fa-lg fa-fw"></i>Apply
          </button>
        </li>
      </ul>
    <% end %>
  </li>
<% end %>

<% content_for :title do %>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <div class="small-12 text-center"><span class="round label secondary"><%= @documents_count %> documents</span><br/>&nbsp;</div>

    <ul class="accordion documents-list" data-accordion>
      <% @documents.each do |actual_month, documents_by_month| %>
      <li class="accordion-navigation">
        <a href="#document-list-block-<%=actual_month.strftime('%Y%m')%>" class="label primary"><%= actual_month.strftime('%Y %B') %></a>
        <div id="document-list-block-<%=actual_month.strftime('%Y%m')%>" class="content">
          <ul class="small-block-grid-1">
            <% documents_by_month.each do |document| %>
            <li class="document-box">
              <span class="label info"><%= document.created_at %></span>
              <%= link_to edit_document_path(document) do %>
              <div class="document">
                <%= image_tag document.attachment.url(:small), size: '800', alt: 'Alt Image Text', data: {
                  'big': document.attachment.url(:large)
                } %>
              </div>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
</div>
