<div class="row">
  <div class="large-12 columns">
    <p id="notice"><%= notice %></p>
    <h1>Listing Documents</h1>

    <%= link_to 'New Document', new_document_path, class: 'button expand' %>

    <ul class="small-block-grid-2"-->
      <% @documents.each do |document| %>
      <li class="document-box">
        <%= link_to document do %>
        <div class="document">
          <%= image_tag document.attachment.url(:small), alt: 'Alt Image Text', data: {
            'big': document.attachment.url(:large)
          } %>
        </div>
        <% end %>
        <%= link_to document, class: 'tiny button split secondary expand' do %>
          Show <span data-dropdown="drop"></span>
        <% end %>
        <br>
        <ul id="drop" class="f-dropdown" data-dropdown-content>
          <li><%= link_to 'Edit', edit_document_path(document) %></li>
          <li><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </li>
      <% end %>
    </ul>
    <div class="clear"></div>
  </div>
</div>
