<%= form_for(@tag) do |f| %>
  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :color %><br>
      <%= f.select :color, nil, {}, class: 'color-select' do %>
        <% Rails.configuration.tag_colors.each do |css_class, name| %>
          <%= content_tag :option, name, value: css_class, data: { colorcssclass: css_class } %>
        <% end %>
      <% end %>
  </div>
  <div class="field">
      <%= f.label :icon %><br>
      <%= f.select :icon, nil, {}, { class: 'fa-select' } do %>
        <% Rails.configuration.font_awesome['icons'].each do |icon_name| %>
          <%= content_tag :option, icon_name, value: icon_name, data: { icon: icon_name } %>
        <% end %>
      <% end %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit class: 'button primary' %>
  </div>
  <script type="text/javascript">
  <!--
  $(function() {
    var fontAwesomeFormatFunction = function(icon) {
      var originalOption = icon.element;
      return '<i class="fa fa-lg fa-' + $(originalOption).data('icon') + '"></i> ' + icon.text;
    };

    $('select.fa-select').select2({
      width: '100%',
      formatResult: fontAwesomeFormatFunction,
      formatSelection: fontAwesomeFormatFunction
    });

    var colorFormatFunction = function(icon) {
      var originalOption = icon.element;
      return '<i class="fa color color-' + $(originalOption).data('colorcssclass') + '"></i> ' + icon.text;
    };

    $('select.color-select').select2({
      width: '100%',
      formatResult: colorFormatFunction,
      formatSelection: colorFormatFunction
    });
  });
  -->
  </script>
<% end %>
