<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tag.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tag.color %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @tag.icon %>
</p>

<%= link_to 'Edit', edit_tag_path(@tag) %> |
<%= link_to 'Back', tags_path %>
