<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "boxfile" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body data-page="<%= controller_name%>#<%= action_name %>">
    <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar top-bar" data-topbar>
          <section class="middle tab-bar-section">
            <%= link_to(root_path) do -%>
            <i class="icon-boxfile"></i><h1 class="title">boxfile</h1><div><%= yield :title %></div>
            <% end %>
          </section>

          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
        </nav>

        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <%= yield :rightoff %>
            <li><label><i class="fa fa-chevron-down fa-fw fa-lg"></i>Main menu</label></li>
            <li><%= link_to raw('<i class="fa fa-upload fa-lg fa-fw"></i>Upload document'), new_document_path %></li>
            <li><%= link_to raw('<i class="fa fa-wrench fa-lg fa-fw"></i>Settings') %></li>
          </ul>
        </aside>

        <section class="main-section">
          <p id="notice" class="<% if notice.nil? %>hide<%else%>alert-box<% end %>" style="margin-bottom: 0"><%= notice %></p>
          <%= yield %>
        </section>

        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>
